{% extends "user_auth/layout.html" %}

{% block body %}
    <form class="input_fields" action="{% url 'user_auth:login' %}" method="POST">
        {% csrf_token %}
        <h1>Log In</h1>
        {% if username %}
            <input type="text" name="username" value={{username}} placeholder="Username">
        {% else %}
            <input type="text" name="username" placeholder="Username">
        {% endif %}
        <input type="password" name="password" placeholder="Password">
        <br>
        {% if message %}
        <div class="auth_error">{{ message }}</div>
        {% endif %}
        <input class="auth_btn" type="submit" value="Login">
        <a href="{% url 'user_auth:register' %}"><button class="auth_btn" type="button">Not a user? Register</button></a>

    </form>

    

{% endblock %}